In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding= 'latin-1')

In [ ]:
data.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
data[['Area', 'Y2018','Item']].groupby('Area').sum().head()

data['Element']= 'Protein supply quantity (g/capita/day)'

<ipython-input-36-e34d9fd3a061>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data[['Area', 'Y2018','Item']].groupby('Area').sum().head()

                  Y2018
Area
Algeria       341729.98
Angola        235206.68
Benin         124960.70
Botswana       23129.08
Burkina Faso  112970.72

In [ ]:
data[['Area', 'Y2017']].groupby('Area').sum().head(20)

                              Y2017
Area
Algeria                   325644.27
Angola                    229159.57
Benin                     124771.22
Botswana                   22101.30
Burkina Faso              101855.07
Cabo Verde                 14650.74
Cameroon                  232030.43
Central African Republic   29937.00
Chad                       71594.68
Comoros                       59.84
Congo                      41181.68
Côte d'Ivoire             224599.01
Djibouti                   22729.91
Egypt                     866379.92
Eswatini                   54343.33
Ethiopia                  448683.76
Ethiopia PDR                   0.00
Gabon                      27979.64
Gambia                     23154.18
Ghana                     337599.06

In [ ]:
data.corr()

<ipython-input-61-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [ ]:
data[['Element', 'Y2014', 'Y2015', 'Y2016', 'Y2017']].groupby('Element').sum()

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Protein supply quantity (g/capita/day),7965086.13,8032340.23,8112472.65,8375729.19

In [ ]:
data[['Area','Y2017']].groupby('Area').sum().head(49)

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

In [ ]:
data['Y2017'].std()

1671.8623590567995

In [ ]:
uk= data[data['Element']== 'Protein supply quantity (g/capita/day)']

uk[['Area', 'Y2015']].groupby('Area').sum().head(49)

                                  Y2015
Area
Algeria                       324058.40
Angola                        209565.67
Benin                         108181.13
Botswana                       23024.85
Burkina Faso                  102701.22
Cabo Verde                     14538.93
Cameroon                      225220.72
Central African Republic       28885.34
Chad                           65835.88
Comoros                           41.34
Congo                          40255.51
Côte d'Ivoire                 211591.29
Djibouti                       23690.16
Egypt                         868218.73
Eswatini                       54072.07
Ethiopia                      429139.33
Ethiopia PDR                       0.00
Gabon                          28367.30
Gambia                         19665.39
Ghana                         311092.13
Guinea                         92803.39
Guinea-Bissau                  17990.06
Kenya                         265506.19
Lesotho                        17965.84
Liberia                        28698.10
Madagascar                    126674.90
Malawi                        167989.09
Mali                          132456.58
Mauritania                     61909.99
Mauritius                      53372.42
Morocco                       412473.80
Mozambique                    158231.17
Namibia                        30687.90
Niger                         117834.65
Nigeria                      1414362.83
Rwanda                         70138.83
Sao Tome and Principe          12386.93
Senegal                        91939.14
Seychelles                       358.20
Sierra Leone                   62523.14
South Africa                  468352.18
Sudan                         230652.54
Sudan (former)                     0.00
Togo                           47834.59
Tunisia                       128211.41
Uganda                        220615.72
United Republic of Tanzania   341969.46
Zambia                         96214.00
Zimbabwe                       74041.79

In [ ]:
data['Area'].nunique()

49

In [ ]:
data[['Y2015', 'Y2018','Element']].groupby('Element').sum().head()

                                         Y2015       Y2018
Element
Domestic supply quantity            2021493.55  2161192.10
Export Quantity                      157614.47   181594.80
Fat supply quantity (g/capita/day)    10235.74    10258.69
Feed                                 225050.22   233489.68
Food                                1232361.10  1303841.28

In [ ]:
data[['Y2017', 'Area']].groupby('Area').tail()

       Y2017      Area
1308   80.00   Algeria
1309    1.93   Algeria
1310    2.00   Algeria
1311    0.06   Algeria
1312    0.03   Algeria
...      ...       ...
60938  19.00  Zimbabwe
60939   1.33  Zimbabwe
60940   1.00  Zimbabwe
60941   0.04  Zimbabwe
60942   0.02  Zimbabwe

[245 rows x 2 columns]

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?